* {
    box-sizing: border-box;
}

body {
    background: #1D1D1F;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    text-align: center;
}

.form_wrapper {
    margin: 0 auto;
    background: #fff;
    color: #333;

    max-width: 1000px;
    height: auto;
}

.survey_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.survey_form label {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.survey_form .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin: 10px 20px;
}

.survey_form .item>input,
select {
    text-align: left;
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
}

.survey_form .item div {
    text-align: left;
}

.full-width {
    grid-column: 1 / 3;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

select {
    height: 25px;
}

textarea {
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    padding: 6px 12px;
    line-height: 1.5;
}


.submit {
    -moz-box-shadow: inset 0px 1px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3dc21b;
    box-shadow: inset 0px 1px 0px 0px #3dc21b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
    background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a', GradientType=0);
    background-color: #44c767;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
    background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767', GradientType=0);
    background-color: #5cbf2a;
}

.submit:active {
    position: relative;
    top: 1px;
}

.header {
    border: 3px solid antiquewhite;
    border-radius: 15px;
    max-width: 69%;
    margin: 1em auto;
}
