body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#wrapper {
    position: relative;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
    height: 60px;

}

@media (min-width: 550px) {
    header {
        padding: 0 1rem;
    }
}

.brand {
    flex: 0 1 100%;
}

@media screen and (min-width: 550px) {
    .brand {
        flex: 0 1 60%;
    }

    nav {
        flex: 0 1 40%;
    }

    nav ul {
        justify-content: space-around;
    }
}

@media screen and(min-width: 1300px) {
    .brand {
        flex: 0 1 75%;
    }
}

nav {
    flex: 0 1 100%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* flex: 1; */
}

@media screen and (min-width: 550px) {
    nav {
        flex: 0 1 40%;
    }

    nav ul {
        justify-content: space-around;
    }
}

@media screen and (min-width: 1300px) {
    nav {
        flex: 0 1 25%;
    }
}

section {
    margin-top: 60px;
    text-align: center;
    height: 200px;
}

footer {
    margin-top: 50px;
    height: 200px;
    text-align: center;
}
